@charset "UTF-8";

body{
    font: normal 1.2em sans-serif;
}

header{
    color: white;
    text-align: center;

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384);

}

div{
    text-align: center;
    padding: 0.5em;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}